:root {
    --primary-color: #50C878; 
    --secondary-color: #808080; 
    --background-color: #FFDB58; 
}

body {
    margin-top: 50px;
    font-family: 'Calibri', sans-serif;
    background-color: var(--background-color);
}

.pokemon-header {
    background-color: var(--background-color);
    padding: 6px;
}

.pokedex {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-button {
    font-size: 22px;
    padding: 10px;
    width: 100%;
    background-color: var(--primary-color);
}

.pokemon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    width: 80%;
    max-width: 1260px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 280px);
}

.pokemon-img {
    width: 200px;
    height: 200px;
    justify-content: center;
}

.list-group-item {
    background: none;
    border: none;
}

.modal-content {
    background: var(--secondary-color);
    color: white; 
    text-align: center;
}

.modal-content .close {
    color: white; 
}
